
/* Mobile Tweak for your Card */
@media (max-width: 350px) {
    .map-card {
        min-width: 100%;    /* Allow it to shrink below 280px if needed */
        max-width: 100%;    /* Keep it within the padding */
        padding: 15px;      /* Slightly tighter padding for small screens */
    }
}


    
.map-card-title {
    color:var(--text-sub);
    font-size: 1.2rem;
    font-weight:600;
    margin-top: 24px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

    
    
}

.rainbow-shwarma {
  /* Warm Spectrum: Deep Red -> Orange -> Gold -> Amber -> Pinkish Red */
  background: linear-gradient(
    to right,
    #a98c3a,
    #fc913a,    
    #bca740,
    #fc913a,
    #a68a3d
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: 
    rainbow-shift 1.5s linear infinite,
    glow-pulse 2.19s ease-in-out infinite; 
  text-shadow: rgba(201, 38, 92, 0.644) 4px 4px 3px;
  font-size: 2em; 
}

.solar-loader {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 1px dashed rgba(255, 255, 255, 0.1);
}

.scanning-line {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--accent-color, #4ade80), transparent);
  animation: scan 2s linear infinite;
}

@keyframes scan {
  from { left: -100%; }
  to { left: 100%; }
}